.container-1 {
    background-color: #fff;
    text-align: center;
    margin: auto;
    padding-top: 1.5em;
    padding-bottom: 2em;
    width: 90%;
    font-family: 'Times New Roman', Times, serif;
    border-top: 2px solid rgb(228, 225, 225);
}
.help img{
   width: 15%;
   transform: none;
   transition: none;
}
.help-care {
    font-size: 3.5em;
    color:  #f59d42;
}
.input1{
    width: 50%;
    height: 4em;
    border-radius: 5px;
    background-image: url(../images2/iconfinder_icon-111-search_314807.png);
    background-position: 2%;
    background-size: 6%;
    background-repeat: no-repeat;
    outline: none;
    border: 3px solid #f59d42;
    margin-bottom: 2em;
    box-shadow: 8px 8px 10px rgb(107, 105, 105), 10px 10px 5px #f59d42;
    padding-left: 4em;
}
.con-image1 img{
    width: 100%;
    /* height: 11em; */
    transition: none;
    transform: none;
}
.container-1-con{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 100%;
    margin-top: 2em;
    margin: auto;
}
.container-1-con img{
    width: 20%;
}
.jumia-pay {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: 3em;
}
.jumia-pay  img {
    width: 60%;
}
.jumia-pay a{
    text-decoration: none;
    color: black;
}
.learn {
    background-color:  #f59d42;
    color: white;
    text-transform: uppercase;
    padding: 7px;
    border: none;
    outline: none;
    cursor: pointer;
}
.con-image1{
    margin-top: 3em;
}
.container-2{
    margin-top: 5em;
}
.container-2-con {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
 
}
.con-2 {
    text-decoration: none;
    color: black;
    border: 1px solid rgb(150, 148, 148);
}
.con-2 img{
    width: 60%;
}
.container-help-3{ 
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 3em;
    background-color: chocolate;
}
.input2{
    width: 40%;
    height: 3em;
    outline: none;
    border: none;
    padding-left: 4em;
    border-radius: 4px;
    background-image: url(../images2/iconfinder_icon-111-search_314807.png);
    background-position: 2%;
    background-size: 6%;
    background-repeat: no-repeat;
}
.container-help-4{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    margin-top: 1em;
}
.con-4{
    color: black;
    text-decoration: none;
    margin-top: 1em;
    padding-top: 0.8em;
}
.con-4:hover{
    /* box-shadow: 6px 6px 3px rgb(158, 157, 157); */
    /* border: 4px solid rgb(226, 225, 224);  */
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.con-4 img {
    width: 80%;
}
footer{
    width: 100%;
}
.footer-1{
    background-color: rgb(221, 219, 216);
    padding-top: 0.7em;
    padding-bottom: 0.7em;
    display: flex;
}
.footer-con-1{
    display: flex;
    margin-left: 4.5em;
}
.foot-img1{
    height: 7em;
}
.apple{
    line-height: 0.05rem;
    margin-left: 1em;
}
.apple img{
    width: 3em;
    opacity: 0.5;
}
.apple h3{
    color: rgb(121, 117, 117);
}
.apple button{
    text-transform: uppercase;
    background-color: white;
    padding: 10px;
    outline: none;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.new{
    line-height: 0.5rem;
    margin-left: 20.5em;
}
.new input{
    width: 50%;
    height: 2em;
    border: 1px solid rgb(163, 162, 162);
    background-color: white;
    outline: none;
}
.male {
    width: 15%;
    height: 2.5em;
    background-color: chocolate;
}
.female{
    width: 20%;
    height: 2.5em;
    background-color: chocolate;
}
.footer-2{
    padding: 2em 0px;
    background-color: rgb(58, 57, 58);
   
}
.footer-2i{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    /* grid-template-columns: 1fr 1fr 1fr 1fr; */
}
.help-link a{
    text-decoration: none;
    color: white;
    list-style: none;
}
.help-link li:hover{
    text-decoration: underline;
}
.footer-2 h4{
    color: chocolate;
}
.help-icons {
    display: flex;
}
.help-icons-con{
    /* width: 15%; */
    background-color: white;
    border: none;
    border-radius: 10px;
    margin-right: 3px;
}
.help-icons-con-1 img{
    height: 2.5em;
    border: none;
    border-radius: 10px;
    margin-right: 3px;
}
.help-icons-con img {
    height: 2.5em;
}
.payment-icons img{
    height: 2.5em;
}
.pay-jumia {
    width: 30%;
}
